body,mainpage{
    width: 100%;
    height: 100%;

}
*{
    padding: 0px;
    margin: 0px;
}
#headertop{
    height: 20%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;

}
#logo{
    height: 50px;
    border-radius: 50%;
    margin: 0.5% 0.5%; 
}
.searchdiv{
    height: 90% ;
    width: 70%;
    
}
#search{
    width: 250px;
    text-align: center;
    margin-left: 2.5%;
    margin-top: 3.5%;
    padding: 2px;
    display: inline;
}
#Submitting{
    height: 20px;
    width: 45px;
    margin: 0px;
    padding: 0px;
    display: inline;
}
#icon{
    width: 15px;
    height: 18px;
    position: absolute;
    margin-top: 2.3%;
    margin-left:2%;
}
.logindiv
{
    height: 30%;
    width: 40%;
    margin: 3px 3px;
    padding: 1.5% 1.5%;
 }
 .login{
    padding: 4px;
    display: flex;
    justify-content: space-between;
 }
 a
{
    text-decoration: none;
    color: black;
} 
.middle{
    height:50%;
    width: 100%;
    padding: 1.5% 1.5%;
    margin: 1.5% 1.5%;
    display:flex;
    justify-content: start;
    justify-items: end;
}
#audiodiv{
   height: 80%;
   width: 40%;

}
#audio{
    height: 45% ;
    width: 40%;
    padding: 1% 1%;
    margin: 3% 3%;

}
#img1{
    height: 30%;
    width: 40%;
    padding: 1% 1%;
    margin: 5% 5%;
}
#img2{
    height: 30%;
    width: 40%;
    padding: 1% 1%;
    margin: 5% 5%;
}
#table{
    height: 250px;
    width: 450px;
    margin-left: 800px;
    text-align: right;

}
#tablediv{
    height:250px;
    width:350px;
    margin-left: 290px;
}
.images{
    width: 600px;
    height: 300px;
    display: flex;
}
.tablec{
    width: 450px;
}
.footer{
    width: 100%;
    
}